span {
    font-size: 1.8em;
}

table {
    border-collapse: collapse;
    margin: 15px;
    width: 20%;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.hidden{ /* Hide coffee IDs*/
    display: none;
}

tr{ /* Hide table header row*/
    display: none;
}

#coffees{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    border: 3px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: center;
    flex-flow: column wrap;
}

/* Search bar*/

#search {
    width: 18em;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 2px 28px 2px 5px;
    outline: 0;
    background-color: lightgoldenrodyellow;
    font-size: medium;
}

/* Dropdown menu */

.roast-dropdown {
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    width: 16%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: lightgoldenrodyellow;
}

.button {
    background-color: brown;
    border: 2px solid white;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: red;
    border: 2px solid red;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

/* Coffee display list*/

.textalignment{
    text-align: center;
    font-size: .9em;
}

.coffee_box{
    text-align: center;
}

.coffee-names {
    font-family: 'Roboto Mono';
}

.coffee-mug {
    height: 150px;
    width: 150px;
}


