table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.hidden{
    display: none;
}

tr{
    display: none;
}

.header {
    padding: 60px;
    text-align: center;
    background-image: url("coffee-banner.jpg");
    background-size: cover;
    color: white;
    font-size: 30px;
}

.footer {
    padding: 60px;
    text-align: center;
    background-image: url("footer-image.jpg");
    background-size: cover;
    color: white;
    font-size: 30px;
}

#search {
    width: 15em;
}

.visibility{
    border: 2px solid black;
}

.textalignment{
    text-align: center;
    font-size: .9em;
}

.coffee_box{
    float: right;
    margin-top: .5em;
}

.coffee-names {
    font-family: 'Roboto Mono';
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
}

.clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
<!-- visibility: hidden; -->
}

.search {
    border: 2px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: lightgoldenrodyellow;
    font-size: medium;
}

.search:hover, .search:focus {
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
}

.button {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.roast-dropdown {
    font-size: 18px;
    border-radius: 5px;
    height: 30px;
    width: 65%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: lightgoldenrodyellow;
}

.coffee-mug {
    height: 150px;
    width: 150px;
}
